/* Normalizador de CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* Body Reset */
body {
  line-height: 1;
  font-family: sans-serif;
  background-color: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset listas */
ol,
ul {
  list-style: none;
}

/* Reset enlaces */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset tablas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset imágenes */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Reset formularios */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

/* Reset en bloques */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

/* Clear floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
